* {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
/*General Styling and Homepage*/
body {
    background-color: black;
    margin: 3% 12% 5% 12%;
}

.logo {
    width: 25%
}

nav {
    color: white;
    margin: 3% 0 3% 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}

a:link {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline #EFD951;
}

a:visited {
    color: white;
}

#home, #animals, #visitors {
    color: #EFD951;
}

main {
    background-color: white;
}

h2 {
    font-family: 'Oleo Script', cursive;
}

h3 {
    padding: 2% 5% 2% 5%;
    font-family: 'Oleo Script', cursive;
    font-size: 2rem;
    text-align: center;
    color: #5B9D5F;
}

p {
    font-family: 'Source Serif Pro', serif;
    padding: 0 3% 3% 3%;
    font-size: 1.2rem;
}

.verticalline {
    border-left: thick solid #5B9D5F;
    border-radius: 4px;
  }

.homep {
    display: flex;
}

.hometext {
    width: 50%;
    padding-top: 2%;
}
.heroimage {
    width: 100%;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.buttontext {
    color: white;
    font-size: 1.5rem;
}

.button {
    background-color: #EFD951;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 15%;
    border-radius: 4px;
}

aside {
    margin: 4% 10% 0 10%;
    color: #666666;
}

.socialmedia {
    width: 5%;
    padding: 0 3% 2% 3%;
}

.socialmediaicons {
    margin: auto;
    text-align: center;
}

#name {
    text-align: right;
}
/*Visitors Page Styling*/
.volunteer {
    width: 30%;
    display: inline;
}

.visitorinfo {
    display: flex;
}

#visitorintro {
    padding: 5% 3% 5% 3%;
    font-size: 1.3rem;
}

/*Animals Page Styling*/


/*Animation*/
@keyframes fadeInAnimation {
    0% {
    opacity: 0;
}
  100% {
    opacity: 1;
}


