* {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
/*General Styling and Homepage*/
body {
    background-color: black;
    margin: 3% 12% 5% 12%;
}

.logo {
    width: 25%
}

nav {
    color: white;
    margin: 3% 0 3% 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}

a:link {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline #EFD951;
}

a:visited {
    color: white;
}

#home, #animals, #visitors {
    color: #EFD951;
}

main {
    background-color: white;
}

h2 {
    font-family: 'Oleo Script', cursive;
}

h3 {
    padding: 2% 5% 2% 5%;
    font-family: 'Oleo Script', cursive;
    font-size: 2rem;
    text-align: center;
    color: #5B9D5F;
}

p {
    font-family: 'Source Serif Pro', serif;
    padding: 0 3% 3% 3%;
    font-size: 1.2rem;
}

.verticalline {
    border-left: thick solid #5B9D5F;
    border-radius: 4px;
  }

.homep {
    display: flex;
}

.hometext {
    width: 50%;
    padding-top: 2%;
}

.heroimage {
    width: 100%;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.buttontext {
    color: white;
    font-size: 1.5rem;
}

#button {
    background-color: #EFD951;
    margin: auto;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 15%;
    border-radius: 4px;
}


aside {
    margin: 4% 10% 0 10%;
    color: #666666;
}

#learnmorepara {
    margin: 0 10% 0 10%;
    display: none;
}

.socialmedia {
    width: 5%;
    padding: 3%;
}

.socialmedia:hover {
    background-color: #EFD951;
    border-radius: 5px;
}

.socialmediaicons {
    margin: auto;
    text-align: center;
}

#name {
    text-align: right;
}
/*Visitors Page Styling*/
.volunteer {
    width: 30%;
    display: inline;
}

.visitorinfo {
    display: flex;
}

#visitorintro {
    padding: 5% 3% 5% 3%;
    font-size: 1.3rem;
}

#visitorbutton {
    width: 50%;
}

#weathersection {
    text-align: center;
    color: white;
    background-color: #5B9D5F;
    max-width: 20%;
    margin: auto;
    padding: 3%;
    border-radius: 5px;
}

/*Visitors Form Styling*/
.volunteerform {
    font-family: 'Source Serif Pro', 'serif';
    max-width: 30%;
    margin: auto;
    padding: 3%;
    background: #5B9D5F;
    border-radius: 5px;
    color: white;
}

input {
    border-radius: 3px;
}

/*Animals Page Styling*/
#grid {
    display: flex;
    justify-content: space-around;
}

.animalimg {
    width: 28%;
    margin: 1%;
}

.collapsible {
    font-family: 'Oleo Script', cursive;
    background-color: #EFD951;
    color: white;
    margin: auto;
    text-align: center;
    cursor: pointer;
    padding: 2%;
    width: 100%;
    border: none;
    outline: 1px solid black;
    font-size: 1.5rem;
}

.content {
    padding: 2% 7% 0 7%;
}

#content1, #content2, #content3, #content4 {
    display: none;
}
  
  .active, .collapsible:hover {
    background-color: #5B9D5F;
  }

/*Animation*/
@keyframes fadeInAnimation {
    0% {
    opacity: 0;
}
  100% {
    opacity: 1;
}

@media (min-width: 770px) {


    
}